
.placeholder(@color, @weight){
	::-webkit-input-placeholder { color: @color; font-weight:@weight}
	/* Firefox 18- */
	:-moz-placeholder { color: @color; opacity:1; font-weight:@weight}
	/* Firefox 19+ */
	::-moz-placeholder { color: @color; opacity:1; font-weight:@weight }
	/* IE */
	:-ms-input-placeholder { color: @color; font-weight:@weight }
}

.modal-dialog{
    .modal-content{
        .modal-header{
            background: #00a65a;
            color: #fff;
            h5{
                font-weight: bold;
                color: #fff;
                font-size: 2rem;
            }
            button{
                color: #fff;
            }
        }
    }
}


.alert-warning{
    color: #8a6d3b !important;
}

table{
    tr{
        th.ordered{
            a{
                text-decoration: underline;
            }
            &.desc:before{
                font-family: 'FontAwesome';
                content: '\f176';
                display: block;
                float: left;
                color: #23527c;
                margin-right: 5px;
            }
            &.asc:before{
                font-family: 'FontAwesome';
                content: '\f175';
                display: block;
                float: left;
                color: #23527c;
                margin-right: 5px;
            }
        }
    }
}

.strong{
    font-weight: 600;
}

[required="required"].ng-invalid{
    border-color: #dd4b39;
    box-shadow: none;
}
[required="required"].ng-valid{
    border-color: #00a65a;
    box-shadow: none;
}

.sidebar-menu{
    .preloader{
        text-align: center;
        i{
            color: #fff;
        }
    }
}

#permission-tree{
    list-style: none;
    li{
        ul{
            list-style: none;
            li{
                .module-label{
                font-weight: bold;
                }
            }
        }
        .module-label{
            font-weight: bold;
        }
    }
}


.permission-setting{
    display: inline-block;
    margin-left: 25px;
    label{
        font-weight: normal;
    }
}

.pointer{ cursor: pointer; }

.m-t-10{ margin-top: 10px; }
.m-t-15{ margin-top: 15px; }
.m-t-25{ margin-top: 25px; } 

.m-b-10{ margin-bottom: 10px; }
.m-b-15{ margin-bottom: 15px; }
.p-b-25{ padding-bottom: 25px; }

.no-label{ margin-top: 25px; }
.input-size{ padding: 7px 12px; }
.full-input-width .form-control{ width: 100%; }
.row.no-margin .form-group .form-control{ width: 100%; }
.no-margin .form-group{
    margin-bottom: 0px;
}
.possibilites{
    float: right;
    a{
       margin-right: 4px;
    }
}

.main-product-image{
    margin-top: 25px;
    margin-bottom: 10px;
    height: 220px;
    text-align: center;
    overflow: hidden;
    img{
        max-height: 210px;
    }
}

.uploader-image{
    margin-top: 25px;
    margin-bottom: 10px;
    height: 240px;
    text-align: center;
    overflow: hidden;
    padding: 15px 0;
    border: 1px solid transparent;
    position: relative;
    .progress{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
    }
    &:hover{
        img{
            opacity: 0.7;
        }
        .drop-box{
            p{
                margin-top: 25%;
                display: block;
            }
        }
    }
    .onhover{
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
    }
    .drop-box{
        height: 100%;
        margin-top: 0%;
        width: 100%;
        p{
            display: none;
        }
    }
    .caption{
        height: 30px;
        width: 80%;
        margin: 5px auto 0 auto;
        line-height: 30px;
        font-weight: bold;
        border-radius: 3px;
        border: 1px dashed #ccc;
        bottom: 4px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .height{
        height: 30px;
        width: 80%;
        text-indent: 15px;
        margin: 0 auto;
        line-height: 30px;
        font-weight: bold;
        border-radius: 3px;
        border: 1px dashed #ccc;
        bottom: 35px;
        position: absolute;
        right: 0;
        left: 0;
        color: #333;
        z-index: 150;
        text-align: left;
        .value{
                height: 100%;
                width: 50%;
                float: right;
                background: #eee;
                display: inline-block;
                text-align: center;
                border: 0px;
                box-shadow: inset 0px 0px 0px 0px red;
         }
        span{
          
           &.unit{
                height: 100%;
                width: 20%;
                float: right;  
           }
        }
    }
    
    img{
        max-height: 180px;
        max-width: 100%;
    }
}

.drop-zone{
    .btn{
        margin: 4px; 
    }
}

.drop-box{
      text-align:center;
      color: #888;
      margin: 15px auto;
      font-size: 1.7rem;
      width: 100%;
      padding: 20px 0;
      height: 110px;
      border: 2px dashed #ccc;
      .btn-primary{
            margin: 4px 0 0 4px;
      }
}

h4.accordion-toggle{
    width: 100%;
    float: left;
    line-height: 30px;
    font-weight: bold;
}

.main-header{
    .logo-lg{
        background: url('/css/img/logo.png') transparent no-repeat left center;
        text-align: right;
        padding-right: 15px;
    }
}

.fastest_corner{
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('/css/img/fastest.png') transparent no-repeat left bottom;
}

.attachments{
    min-height: 124px !important;
    margin: 0;
    padding: 0;  
    list-style: none;
    .file{
        margin: 2px;
        position: relative;
        cursor: pointer;
        float: left;
        padding: 4px 2px;
        .caption{
            text-align: center;
            color: #888;
            border: 1px dashed #ccc;
            margin-top: 3px;
        }
        .onhover{
            display: none;
        }
        &:hover{
            .onhover{
                display: block;
                position: absolute;
                top: -10px;
                right: -10px;
                z-index: 150;
                opacity: 0.85;
            }
        }
    }
}


.gallery{
    min-height: 124px !important;
    margin: 0;
    padding: 0;
    .img{
        margin: 2px;
        position: relative;
        cursor: move;
        text-align: center;
        img{
            max-height: 120px;
        }
        &.main_image{
            border: 2px solid #999;
        }
        .caption{
            text-align: center;
            color: #888;
            border: 1px dashed #ccc;
            margin-top: 3px;
        }
        .type{
            select{
                text-align: center;
                color: #888;
                border: 1px dashed #ccc;
                margin-top: 3px;
                text-align: center; 
            }
        }
        .onhover{
            display: none;
        }
        &:hover{
            .onhover{
                display: block;
                position: absolute;
                top: -10px;
                right: -10px;
                z-index: 150;
                opacity: 0.85;
            }
        }
    }
}



.related-products .img img{
    max-height: 65px;
}

.table.valign-middle tr td{
    vertical-align: middle;
}
.list-group-item{
    min-height: 45px;
}

.list-group li.not-visible{
    color: #999;
}
.full-width-input .form-control{
    width: 100%;
}
.input-group-addon.currency{
    background: #d2d6de;
    color: #444;
}
.fa.fa-bigger{
    font-size: 1.5rem;
}
textarea.form-control{
    height: 140px;
}

.multiple_select{
    /*position: */
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    outline: 0;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    padding: 0;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    height: 32px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;

    &.opened{
        height: auto;
        min-height: 32px;
        position: absolute;
        z-index:100;
    }
    .badge{
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .btn{
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .opener{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 32px;
        z-index: 99;
        opacity: 0;
    }
    .inner{
        padding: 2px 8px;
        max-height: 200px;
        overflow-y: auto;
        label{
            font-weight: normal;
            width: 100%;
            overflow: hidden;
            height: 22px;
            line-height: 22px;
            input[type="checkbox"]{
                 margin: 6px 8px 0 0;     
            }
        }
    }
}

label.one-row{
    max-height: 16px;
    line-height: 16px;
    overflow: hidden;
}
.form-horizontal label.checkbox , label.checkbox{
    height: 64px;
    line-height: 23px;
    padding-top: 15px;
    font-weight: bold; 
}
#data-table{
    .form-group{
        margin-bottom: 0;
    }
    .form-control{
        height: 30px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .short{
        width: 50px;
        display: inline-block;
    }
}
.relative{
    position: relative;
}

.filtration_wrap{
    position: absolute;
    z-index: 100;
    width: 100%;
    background: rgba(119, 223, 107, 0.75);
    margin-top: 15px;
    .box{
        background: transparent;
        margin-bottom: 0px; 
        .box-body{
            background: transparent;
            .form-control{
                border-color: #00a65a;
                color: #090;
                font-weight: bold;
                
                ::-webkit-input-placeholder { color: #00a65a !important; font-weight:bold }
                :-moz-placeholder { color: #00a65a !important; opacity:1; font-weight:bold }
                ::-moz-placeholder { color: #00a65a !important; opacity:1; font-weight:bold  }
                :-ms-input-placeholder { color: #00a65a !important; font-weight:bold  }
            }
            select.form-control{
                &,option{
                    color: #00a65a;
                    background: #fff;
                    font-weight: bold;
                }
                option[value=""]{
                    color: #fff;
                    background: #00a65a;
                }
            }
            a{
                display: inline-block;
                margin: 5px auto 0px auto;
                i{
                    font-size: 2rem;
                }
            }
            
        }
    }
}

ul.list-horizontal{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        float: left;
        padding: 5px 15px;
        &:first-child{
            padding-left: 0;
        }
    }  
    &:after{
        display: block;
        content: '';
        clear: both;
    }
}

.box.dark{
    background: #ddd;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
   
}

#variant_select{
    width: 240px;
    margin: 0px auto;
    position: absolute;
    top: 19px;
    left: 0;
    right: 0;
   
    label{
        text-align: left;
        width: 100%;
    }
}

.navbar-nav>.user-menu .user-image{
    width: 30px;
    height: 30px;
}
.angucomplete-dropdown{
    width: 100%;
}

.navbar-nav>li>a {
    padding-top: 11px;
    padding-bottom: 11px;
}

.isTranslated{
    width: 100%;
    height: 4px;
    background: #c50f0f;
    display: block;
    margin-top: 3px;
    &.translated{
        background: #1ce46c;
    }
}

.m-r-5{
    margin-right: 5px;
}

.next-item, .previous-item{
    position: absolute;
    top: 72px;
    color: #ddd;
    background: #00a65a;
    padding: 15px 10px;
    font-size: 2.5rem;
    text-align: center;
}
.next-item{
    right: -37px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    &:hover{
        padding-right: 13px;
        right: -40px;
        color: #fff;
    }
}
.previous-item{
    left: -37px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    &:hover{
        padding-left: 13px;
        left: -40px;
        color: #fff;
    }
}

.list-menu {
    list-style: none;
    padding: 0;
    margin: 0; 
    li{
        height: 42px;
        float: left;
        text-align: right;
        a{
            padding: 4px 10px;
            border: 1px solid #aaa;
            border-radius: 5px;
            color: #aaa;
            margin: 5px 5px;
            display: block;
        }
        &.selected{
            a{
                background: #444;
                color: #fff;
                font-weight: bold;
            }
        }
        &.actions{
            width: 210px;
            .fa{
                font-size: 1.5rem;
            }
            .btn-success{
                .fa{
                    color: #fff;
                }
            }
            .form-group{
                margin: 5px 0 0 5px !important;
            }
            a{
                display: inline-block;
                margin: 5px 5px;
            }
           
        }
    }
}

table tr label.checkbox, .form-horizontal table tr label.checkbox{
    height: 23px;
    line-height: 18px;
    padding-top: 0px;
}

#content-tree{
    margin-top: 15px;
    .content-section{
        border-top: 3px solid #fff;
        background: #ccc;
        padding: 8px 0 5px 0;
        .input-group-addon{
            padding: 0;
        }
        input.form-control{
            font-weight: bold;
            font-size: 18px;
            width: 100%;
            padding: 4px;
        }
        .content-item{
            input.form-control, select.form-control{
                font-weight: normal;
                font-size: 13px;
                width: 100%;
                line-height: 28px;
                padding: 2px;
                margin-bottom: 2px;
                height: 28px;
            }
        }
    }
}

.m-b-5{ margin-bottom: 5px; }


body {
	background:#efefef;
}
.copyright {
	font-size:11px;
	color:#ccc;
	text-align:center;
	a {
		color:#ccc;
	}
}

